<button type="button" class="btn btn-danger btn-sm float-right btn-drawer">X</button>
      <%
        if !customer_signed_in? then
              session['hamper0'] ||= []
     
              # THIS IS THE SAME FUNCTIONALITY AS A THE ACTION
              # convert_session_hamper_into_hash() in hamper_items_controller
              # I will look at abstracting this to an action in application_controller
              # when the rest of the hampers and cart is finished
                price = 0
                hamper_items = session['hamper0'].collect do |item| 
                  id = item['id'] || item[:id]
                  q = item['q'] || item[:q]
                  p = item['p'] || item[:p]
                  h = item['h'] || item[:h]
                  price += (p * q)
                  product = {name: Product.find(id).name || 'unknown'}
                  item = item.merge({product: product, product_id:id, quantity:q, price_when_ordered:p, hamper_id:h})
                end
                hampers = [{name:"My Hamper", price:price, greeting:"", hamper_items:hamper_items}]    
        else
              hampers = Hamper.where('customer_id = ?', current_customer.id).to_json(:include => { :hamper_items => {  :include => { :product => {:only => :name } } } }) || []
              hamper_ids = Hamper.where('customer_id = ?', current_customer.id).to_json({:only => :id })
        end 
      %>

      
      <%= content_tag "div", id: "display_hamper", data:{ hampers: hampers } do %>
        Loading products...
      <% end %>

<% if customer_signed_in? then %>      
  <a href="/hampers" class="btn btn-primary" role="button" aria-pressed="true">Manage</a>
<% else %>
  <button class="btn btn-primary empty">Clear</button>
<% end %>

<a href="/orders/verify" class="btn btn-primary" role="button" aria-pressed="true">Checkout</a>