<% if customer_signed_in? && current_customer.id %>
<h3 class="text-center">My Hampers</h3>
<% end %>

<% if admin_signed_in? %>
<h3 class="text-center">All Hampers</h3>
<% end %>


<div class="container">

  <div class="card">

    <%= render "hamper_details" %>

  </div>
</div>

