

<!-- Page Content -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <h4 class="card-header">Not authorized</h4>
        <div class="card-body">
          <p class="card-text">
            We are sorry. Your account has been disabled by administration. Please contact us for more information.

          </p>
        </div>        
      </div>
    </div>

  </div>
  <!-- /.row -->


</div>
<!-- /.container -->
