<!-- Producer Name -->
<h3 class="my-4 text-center"><small>Products by </small><%= @producer.name %></h3>

<!-- Page Content -->
<div class="container card">


  <!-- Products Row -->
  <div class="row">

    <div class="col-md-12">
      <h4>Products</h4>
    </div>

    <%= render 'producer-products' %>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
