// Place all the styles related to the product_likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.like_btn{
    position: relative;
    display: inline;
    font-size: 9pt;
}
.like_btn a:hover{
    background-color: transparent;
    text-decoration: none;
}
.heart{
    position: relative;
    width: 32px;
    height: 32px;
}
