    <div class="input-group">
      <input type="number" class="form-control quantity" value=1>
      <span class="input-group-btn">
        <button class="btn btn-secondary buy" type="button" data-id="<%= product.id %>" data-price="<%= product.price %>">Add to Hamper</button>
      </span>
    </div>
    <div class="empty">Empty _FOR DEMO PURPOSES</div>