<div class="card col-lg-8 col-lg-offset-2">
  <h2 class="card-header">New Product</h2>
  <div class="card-body">


        <%= render 'form-new', product: @product %>

        <%= link_to 'Back', products_path %>

  </div>
</div>
