
    <!-- Footer -->
    <footer class="bg-dark">
        <p class="m-0 text-center text-white">Copyright &copy; Raymond Phelan (17119847) & Richard Nolan (17135494) - NCI Higher Diploma in Web Technologies</p>
    </footer>


    <%= javascript_include_tag 'application'%>
    
  
  </body>
</html>