<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="2;url=http://calm-sierra-95048.herokuapp.com/" />
    <title>Custom Hampers</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>